html,
body {
  padding: 0;
  margin: 0;
  overflow-y: overlay;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", Arial !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.article-detail:target {
  padding-top: 70px;
  margin-top: -70px;
}

.toc::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.toc::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

.toc::-webkit-scrollbar-thumb:hover {
  background: #1890ff;
}

.toc::-webkit-scrollbar-corner {
  background: #179a16;
}

.toc::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

.toc > ol {
  margin-left: 8px;
  margin-top: 0px;
}

.toc li {
  margin: 8px 0px;
  margin-left: 8px;
  font-size: 14px;
  padding: 4px 0px;
}

.toc a:hover {
  color: #1890ff;
}

.custom-code {
  color: #000;
  background: #f9f9f9;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 0px 6px;
  margin: 0px 6px;
}

div.hint.tip,
div.hint.error,
div.hint.warn {
  letter-spacing: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 8px 12px 8px 24px;
  margin-bottom: 16px;
  position: relative;
}

div.hint.tip:before,
div.hint.error:before,
div.hint.warn:before {
  border-radius: 100%;
  color: #fff;
  content: "!";
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 12px;
}

div.hint.tip {
  border-left: 4px solid #27ab83;
}

div.hint.tip:before {
  background-color: #27ab83;
}

div.hint.warn {
  border-left: 4px solid #f0b429;
}

div.hint.warn:before {
  background-color: #f0b429;
}

div.hint.error {
  border-left: 4px solid #ef4e4e;
}

div.hint.error:before {
  background-color: #ef4e4e;
}
